.h1 {
  border-bottom: 3px solid #fdb819;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 20px;
}

.info {
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  margin-block: 30px;
}
