.info > h1 {
  margin-top: 0;
}

.info > hgroup {
  font-size: 22px;
  font-weight: 300;
  color: #535353;
}

.category {
  position: relative;
  width: 200px;
  border: 1px solid #535353;
}

.category > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 400;
  background: white;
  color: #999999;
  cursor: pointer;
  width: 100%;
}

.category > button:is(.active) {
  background: #fdb819;
  color: #000000;
}

.category > button:is(.active) > img {
  filter: unset;
}

.category:not(:first-of-type) {
  border-left: 0;
}

.category > button > img {
  filter: invert(62%) sepia(5%) saturate(9%) hue-rotate(348deg) brightness(98%)
    contrast(85%);
}

.cat_btn {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  background: #ffffff;
  border: 5px solid #fdb819;
  padding: 10px 20px;
  margin-left: 30px;
  border-radius: 10px;
}

.cat_btn:hover {
  background: #fcf5b6;
}

.top_select {
  background: #d9d9d9;
  border: 1px solid #929292;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  position: absolute;
  z-index: 4;
  max-height: 350px;
  width: 100%;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  transition: 500ms;
}

.top_select > button:hover {
  background: #efefef;
}

.top_select > button:not(:last-of-type) {
  border-bottom: 1px solid #929292;
}

.top_select:is(.active) {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.top_select::-webkit-scrollbar {
  width: 8px;
}
.top_select::-webkit-scrollbar-track {
  background: transparent;
}
.top_select::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #313131;
}
.top_select::-webkit-scrollbar-thumb:hover {
  background: #5b5b5b;
}

.top_select > button {
  padding: 10px 20px;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  text-align: start;
}

.top_select > button:hover {
  background: #efefef;
}

.top_select > button:not(:last-of-type) {
  border-bottom: 1px solid #929292;
}

.selector {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 650px) {
  .selector {
    display: block;
    justify-content: center;
  }

  .category {
    width: 70%;
    margin-inline: auto;
  }

  .selector > button {
    width: 60%;
    margin-inline: auto;
    margin-top: 10px;
    display: block;
  }

  .category:last-of-type {
    border-top: 0;
    border-left: 1px solid #535353;
  }
}

@media screen and (max-width: 550px) {
  .category {
    width: 100%;
    margin-inline: auto;
  }

  .selector > button {
    width: 80%;
    margin-inline: auto;
    margin-top: 10px;
    display: block;
  }

  .category:last-of-type {
    border-top: 0;
    border-left: 1px solid #535353;
  }
}
