.cart {
  background: #ffffff;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.top h2 {
  padding-left: 40px;
}

.top img {
  padding-right: 25px;
  cursor: pointer;
}

.bottom {
  padding-inline: 40px;
  display: grid;
  grid-template-rows: 1fr auto;
}

.block {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  padding-right: 10px;
}

.item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
}

.item:not(:last-child) {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.item:not(:first-child) {
  padding-top: 15px;
}

.title {
  align-self: center;
  font-size: 19px;
  font-weight: 700;
  margin-left: 30px;
}

.count {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 15vw;
}

.count > span {
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.count > input {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  max-width: 80px;
  height: 45px;
  padding: 10px;
  text-align: center;
  -moz-appearance: textfield;
  font-size: 20px;
  font-weight: 400;
}

.count > input::-webkit-inner-spin-button,
.count > input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inf > img {
  height: 30px;
  width: 30px;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 30px;
}

.inf > div {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.item > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn > button {
  background: #ffd470;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  padding: 15px;
}

.btn > button:hover {
  background: #ffcc54;
}

.btn > div {
  display: flex;
  align-items: center;
  gap: 40px;
  background: #d3c39e;
  border-radius: 2px;
  border: 2px solid #ffb200;
  padding: 20px;
}

.btn > div > div {
  font-size: 44px;
  font-weight: 600;
}

.btn > div > button {
  background: #fdb819;
  border-radius: 30px;
  color: #000;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
}

.btn > div > button:hover {
  background: #ffc63f;
}

@media screen and (max-width: 1080px) {
  .block {
    height: 100%;
  }

  .btn {
    display: flex;
    flex-direction: column;
  }

  .btn > button {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .bottom {
    justify-content: center;
  }

  .block {
    width: 400px;
    align-items: center;
    margin-inline: auto;
  }

  .item {
    grid-template-columns: repeat(2, 1fr);
  }

  .item > img {
    margin-left: auto;
  }

  .count {
    margin-right: 0;
    margin-left: auto;
  }

  .inf {
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .inf > img {
    grid-row: 2;
    margin-top: 0;
  }

  .inf > div {
    grid: 1;
  }
}

@media screen and (max-width: 750px) {
  .title {
    margin-left: 0;
  }

  .item {
    grid-template-columns: 1fr;
  }

  .item > img {
    margin-right: auto;
    margin-bottom: 5px;
  }

  .count {
    margin-inline: auto;
    margin-block: 5px;
  }

  .inf {
    margin-inline: auto;
  }

  .inf > img {
    margin-inline: auto;
  }
}
