.p1 {
  column-gap: 20%;
  row-gap: 15px;
}

.p2 {
  column-gap: 10px;
}

.p2 > div:nth-of-type(3) input,
.p2 > div:nth-of-type(4) input {
  width: 80px;
}

.select_sex {
  border-radius: 10px;
  border: 1px solid #313131;
  padding: 10px 7px;
  font-size: 18px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
