.ly {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.left_modal {
  border-right: 1px solid #000000;
  display: grid;
  grid-template-rows: 0.1fr auto;
  justify-content: space-between;
}

.left_modal nav {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
}

.left_modal nav a {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 38px;
  border: 1px solid transparent;
}

.left_modal nav a:is(.active) {
  font-weight: 700;
  background-color: #fdb819;
  border-color: #000000;
}

.left_modal nav a:hover {
  background-color: #fdc646;
}

.left_modal img {
  margin: 15px;
  margin-top: auto;
}
