.modal {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.492);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > div {
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-rows: 1fr auto;
}

.modal > div > img {
  margin: 20px 20px 20px auto;
  display: flex;
  cursor: pointer;
}

.modal > div > button {
  background: rgb(18, 163, 18);
  font-size: 17px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 10px;
  margin-inline: auto;
  display: flex;
  margin-block: 20px;
}

.select_block {
  border-top: 1px solid #000;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-inline: 10px;
}

.select_block > fieldset {
  border: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid black;
  padding: 10px;
}

.select_block > fieldset > label {
  font-size: 17px;
  font-weight: 600;
  color: rgb(108, 108, 108);
}

.select_block input {
  width: 30px;
  height: 20px;
  background: orange;
}
