.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.page {
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 15px;
}

.page:is(.active) {
  background: #fdb819;
}
