header {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.header_top {
  background-color: #000000;
  padding-block: 15px;
  color: #ffffff;
}

.h_top_l,
.h_top_r {
  display: flex;
  gap: 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 23.44px;
}

.h_top_l img,
.h_top_r img {
  margin-right: 5px;
}

.header_top a {
  color: #ffffff;
}

.header_top .orange {
  color: #fdb819;
}

.header_top a:not(.orange) > img,
.header_top button > img,
.select_block > img:last-of-type {
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(111deg)
    brightness(108%) contrast(108%);
}

.header_top a:not(.orange):hover,
.header_top button:hover,
.select_block:hover {
  color: #fdb819;
}

.header_top a:not(.orange):hover > img,
.header_top button:hover > img,
.select_block:hover > img:last-of-type {
  filter: invert(89%) sepia(32%) saturate(7342%) hue-rotate(348deg)
    brightness(114%) contrast(98%);
}

.header_top button {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
}

.header_middle {
  margin-block: 20px;
  align-items: center;
  gap: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.header_middle > a > img {
  width: 100%;
}

.mid_h {
  background: white;
}

.header_bottom {
  background: #dfdfdf;
}

.header_bottom nav {
  display: flex;
}

.search_f {
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  top: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 500ms;
  background: #ffffff;
}

.search_f > a {
  display: flex;
  align-items: center;
  color: #5d8bff;
  font-size: 17px;
  font-weight: 400;
  gap: 25px;
  padding: 0 15px;
  height: 45px;
}

.search_f > a:hover {
  background: #d9d9d9;
}

.search_active > .search_f {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header_bottom nav > a:hover {
  background-color: #ffc641;
}

.header_bottom nav > a,
.category > div:first-child {
  padding: 15px 22px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
}

.header_bottom nav > *:not(:last-child) {
  border-right: 1px solid #000000;
}

.category {
  background-color: #fdb819;
  width: 35%;
  position: relative;
}

.category > div:first-of-type {
  justify-content: center;
}

.category > div:first-of-type > img:last-of-type {
  rotate: 0;
  transition: rotate 500ms;
}

.active_cat {
  background: #000000;
}

.active_cat > div:first-of-type {
  color: #fdb819;
}

.active_cat > div:first-of-type > img:last-of-type {
  filter: invert(67%) sepia(68%) saturate(548%) hue-rotate(356deg)
    brightness(101%) contrast(99%);
}

.active_cat > .cat_modal {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.active_cat > div:first-of-type > img:last-of-type {
  rotate: -180deg;
}

.category > div:first-child {
  flex-wrap: nowrap;
  cursor: pointer;
  gap: 10px;
}

.cat_modal {
  background-color: #d9d9d9;
  display: grid;
  position: absolute;
  top: 100%;
  font-size: 18px;
  width: 100%;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 500ms;
  border: 1px solid #929292;
  z-index: 5;
}

.cat_modal > div {
  color: #000000;
  white-space: nowrap;
  padding: 15px 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.subcat,
.subchildcat {
  position: absolute;
  left: 100%;
  background-color: #d9d9d9;
  display: grid;
  font-size: 18px;
  width: 100%;
  font-weight: 500;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 100ms;
  border: 1px solid #929292;
  z-index: 5;
}

.subcat > div,
.subchildcat > a {
  color: #000000;
  white-space: nowrap;
  padding: 15px 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.subcat > div:hover .subchildcat {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.subcat > div > img,
.subchildcat > a > img {
  rotate: -90deg;
}

.subcat > div:not(:last-of-type),
.subchildcat > a:not(:last-of-type) {
  border-bottom: 1px solid #929292;
}

.subcat > div:hover > span,
.subchildcat > a:hover > span {
  color: #fdb819;
}

.subcat > div:hover > img,
.subchildcat > a:hover > img {
  filter: invert(67%) sepia(68%) saturate(548%) hue-rotate(356deg)
    brightness(101%) contrast(99%);
}

.cat_modal > div:hover > .subcat {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cat_modal > div > img {
  rotate: -90deg;
}

.cat_modal > div:not(:last-of-type) {
  border-bottom: 1px solid #929292;
}

.cat_modal > div:hover > span {
  color: #fdb819;
}

.cat_modal > div:hover > img {
  filter: invert(67%) sepia(68%) saturate(548%) hue-rotate(356deg)
    brightness(101%) contrast(99%);
}

.search_block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.search_block input {
  max-width: 600px;
  width: 100%;
  height: 45px;
  border: 1px solid #929292;
  padding-inline: 15px;
}

.search_block button {
  border: 1px solid #929292;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fdb819;
  padding-inline: 40px;
  display: flex;
  align-items: center;
}

.search_block button:hover > img {
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(111deg)
    brightness(108%) contrast(108%);
}

.modal_top {
  position: absolute;
  background: #d9d9d9;
  border: 1px solid #929292;
  top: 100%;
  left: 0;
  right: 0;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-34px);
  transition: 0.5s;
}

.modal_top:is(.active) {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.modal_top > button {
  color: #000000;
  font-weight: 600;
  padding: 5px 0;
  justify-content: center;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal_top > button span {
  font-size: 20px;
  font-weight: 600;
}

.modal_top > button span:last-of-type {
  font-size: 15px;
}

.modal_top > button:not(:last-of-type) {
  border-bottom: 1px solid #929292;
}

.modal_top > button:hover {
  background-color: #fdb819;
}

.modal_top > button > img {
  filter: none;
}

.modal_top > button:hover > img {
  filter: none;
}

.modal_top > button:hover span {
  color: #000000;
}

.cart {
  position: relative;
}

.cart > div {
  position: absolute;
  background-color: #fdb819;
  border-radius: 50%;
  top: -8px;
  right: -5px;
  padding: 0px 4px;
  font-size: 17px;
  font-weight: 700;
}

.cart_block {
  gap: 15px;
  color: #000000;
  cursor: pointer;
}

.cart_info div:first-child {
  font-size: 18px;
  font-weight: 400;
}

.cart_info div:last-child {
  font-size: 24px;
  font-weight: 700;
}

.select_block {
  gap: 5px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  background-color: #000000;
  position: relative;
  z-index: 2;
  transition: 0.5s;
  padding: 5px;
}

.select_block:is(.active) {
  background: #d9d9d9;
  border-color: #929292;
  color: #000000;
}

.show_m {
  display: none;
}

@media screen and (max-width: 1000px) {
  .cart_info {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header_middle {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 30px;
  }

  .header_middle > a {
    grid-column: 1 / 3;
  }

  .search_block {
    grid-row: 2;
    grid-column: 1 / 5;
  }

  .cart_block {
    grid-column: 4;
  }
}

@media screen and (max-width: 850px) {
  .h_top_l,
  .h_top_r {
    display: grid;
  }

  .h_top_r > a,
  .h_top_r > button {
    grid-row: 1;
    grid-column: 1/3;
    justify-self: flex-end;
  }
  .p1 {
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
  }
  .p11 {
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    justify-content: flex-end;
  }
  .p2,
  .p3 {
    grid-row: 2;
  }
  .h_top_r > div:last-of-type > div:first-of-type {
    grid-row: 2;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 660px) {
  .header_bottom > nav {
    width: 100%;
  }

  .show_m {
    display: block;
  }

  .show_k {
    display: none;
  }

  .header_bottom > nav > a {
    display: none;
  }

  .header_bottom > nav > div:not(:last-child) {
    border-right: 0;
  }

  .header_bottom > nav > div {
    border-right: 0;
    width: 100%;
    height: 80px;
  }

  .header_bottom > nav > div > div:first-of-type {
    height: 100%;
    padding-inline: 80px;
  }

  .header_bottom > nav > div > div:first-of-type > img:first-of-type {
    width: 30px;
    height: auto;
  }

  .header_bottom > nav > div > div:first-of-type > div {
    font-size: 28px;
    font-weight: 700;
    line-height: 37.5px;
  }

  .header_bottom > nav > div > div:first-of-type > img:last-of-type {
    width: 18px;
    height: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 540px) {
  .header_top {
    display: none;
  }

  .header_middle {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .header_middle > a {
    grid-row: 1;
    grid-column: unset;
  }

  .search_block {
    grid-row: 3;
    grid-column: unset;
  }

  .cart_block {
    grid-row: 2;
    grid-column: unset;
    background-color: #fdb819;
    padding-block: 30px;
    gap: 30px;
  }

  .cart_info {
    display: block;
  }

  .cart > img {
    width: 38px;
    height: auto;
  }

  .cart > div {
    background-color: transparent;
    top: -15px;
    right: -15px;
  }
}
