header {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.header_top {
  background-color: #000000;
  padding-block: 15px;
  color: #ffffff;
}

.h_top_l,
.h_top_r {
  display: flex;
  gap: 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 23.44px;
}

.h_top_l img,
.h_top_r img {
  margin-right: 5px;
}

.header_top a {
  color: #ffffff;
}

.header_top .orange {
  color: #fdb819;
}

.header_top a:not(.orange) > img,
.header_top button > img,
.select_block > img:last-of-type {
  filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(111deg)
    brightness(108%) contrast(108%);
}

.header_top a:not(.orange):hover,
.header_top button:hover,
.select_block:hover {
  color: #fdb819;
}

.header_top a:not(.orange):hover > img,
.header_top button:hover > img,
.select_block:hover > img:last-of-type {
  filter: invert(89%) sepia(32%) saturate(7342%) hue-rotate(348deg)
    brightness(114%) contrast(98%);
}

.header_top button {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
}

.header_middle {
  margin-block: 20px;
  align-items: center;
  gap: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.header_middle > a > img {
  width: 100%;
}

.mid_h {
  background: white;
}

.header_bottom {
  background: #dfdfdf;
}

.header_bottom nav {
  display: flex;
}

.header_bottom nav > a,
.category > div:first-child {
  padding: 15px 22px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
}

.header_bottom nav > *:not(:last-child) {
  border-right: 1px solid #000000;
}

.category {
  background-color: #fdb819;
}

.category > div:first-child {
  flex-wrap: nowrap;
  cursor: pointer;
  gap: 10px;
}

.search_block {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.search_block input {
  max-width: 600px;
  width: 100%;
  height: 45px;
  border: 1px solid #929292;
  padding-inline: 15px;
}

.search_block button {
  border: 1px solid #929292;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fdb819;
  padding-inline: 40px;
}

.cart {
  position: relative;
}

.cart > div {
  position: absolute;
  background-color: #fdb819;
  border-radius: 50%;
  top: -8px;
  right: -5px;
  padding: 0px 4px;
  font-size: 17px;
  font-weight: 700;
}

.cart_block {
  gap: 15px;
  color: #000000;
  cursor: pointer;
}

.cart_info div:first-child {
  font-size: 18px;
  font-weight: 400;
}

.cart_info div:last-child {
  font-size: 24px;
  font-weight: 700;
}

.select_block {
  gap: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .cart_info {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header_middle {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 30px;
  }

  .header_middle > a {
    grid-column: 1 / 3;
  }

  .search_block {
    grid-row: 2;
    grid-column: 1 / 5;
  }

  .cart_block {
    grid-column: 4;
  }
}

@media screen and (max-width: 850px) {
  .h_top_l,
  .h_top_r {
    display: grid;
  }

  .h_top_r > a,
  .h_top_r > button {
    grid-row: 1;
    grid-column: 1/3;
    justify-self: flex-end;
  }
  .h_top_r > div:first-of-type {
    grid-row: 2;
  }
  .h_top_r > div:last-of-type > div:first-of-type {
    grid-row: 2;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 660px) {
  .header_bottom > nav {
    width: 100%;
  }

  .header_bottom > nav > a {
    display: none;
  }

  .header_bottom > nav > div:not(:last-child) {
    border-right: 0;
  }

  .header_bottom > nav > div {
    border-right: 0;
    width: 100%;
    height: 80px;
  }

  .header_bottom > nav > div > div:first-of-type {
    height: 100%;
  }

  .header_bottom > nav > div > div:first-of-type > img:first-of-type {
    width: 30px;
    height: auto;
  }

  .header_bottom > nav > div > div:first-of-type > div {
    font-size: 32px;
    font-weight: 700;
    line-height: 37.5px;
  }

  .header_bottom > nav > div > div:first-of-type > img:last-of-type {
    width: 18px;
    height: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 540px) {
  .header_top {
    display: none;
  }

  .header_middle {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .header_middle > a {
    grid-row: 1;
    grid-column: unset;
  }

  .search_block {
    grid-row: 3;
    grid-column: unset;
  }

  .cart_block {
    grid-row: 2;
    grid-column: unset;
    background-color: #fdb819;
    padding-block: 30px;
    gap: 30px;
  }

  .cart_info {
    display: block;
  }

  .cart > img {
    width: 38px;
    height: auto;
  }

  .cart > div {
    background-color: transparent;
    top: -15px;
    right: -15px;
  }
}
