.btn_save {
  background: rgb(36, 172, 36);
  border-radius: 10px;
  padding: 15px 50px;
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.btn_save:hover {
  background: rgb(44, 200, 44);
}

.fieldset {
  border: 0;
  display: grid;
  justify-content: center;
}

.fieldset label {
  margin-bottom: 10px;
}

.fieldset input {
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.471);
  padding: 10px;
  width: 500px;
}
