html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container_a {
  margin-top: 20px;
  margin-left: 20px;
}

body > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:is(.active) {
  background: #fdb819;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #ffffff;
}

.h1_border {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  margin-block: 50px;
  padding-bottom: 10px;
  border-bottom: 4px solid #fdb819;
}

.pages {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.pages > * {
  font-size: 20px;
  font-weight: 300;
  color: #535353;
}

.pages > div {
  cursor: default;
}

.container_a > a {
  border-radius: 10px;
  background-color: rgb(24, 170, 228);
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px;
}

.container_a > a:hover {
  background-color: rgb(73, 183, 226);
}

.list_a {
  margin-top: 30px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.item_a1,
.item_a2 {
  display: flex;
  background-color: #d8d8d8;
  border-radius: 10px;
  padding: 20px;
}

.item_a1 {
  justify-content: space-between;
  align-items: center;
}

.item_a2 img {
  width: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.item_a1:not(:last-of-type),
.item_a2:not(:last-of-type) {
  margin-bottom: 10px;
}

.item_a1 .title,
.item_a2 .title {
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
}

.item_a1 .desc,
.item_a2 .desc {
  margin-top: 5px;
  font-weight: 600;
  font-size: 15px;
}

.item_a2 .price {
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
}

.item_a2 .desc {
  margin-top: 20px;
}

.item_a2 > div:last-of-type {
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item_a1 > div:last-of-type {
  display: flex;
  gap: 10px;
}

.item_a1 > div:last-of-type > button,
.item_a2 > div:last-of-type > button {
  border-radius: 10px;
  background-color: red;
  padding: 15px 20px;
}

.item_a1 > div:last-of-type > button:hover,
.item_a2 > div:last-of-type > button:hover {
  background-color: rgb(255, 106, 106);
}

.item_a1 > div:last-of-type > a,
.item_a2 > div:last-of-type > a {
  border-radius: 10px;
  background-color: rgb(60, 193, 60);
  padding: 15px 20px;
}

.item_a1 > div:last-of-type > a:hover,
.item_a2 > div:last-of-type > a:hover {
  background-color: rgb(74, 224, 74);
}
