html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container_a {
  margin-top: 20px;
  margin-left: 20px;
}

body > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:is(.active) {
  background: #fdb819;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: #ffffff;
}

.h1_border {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  margin-block: 50px;
  padding-bottom: 10px;
  border-bottom: 4px solid #fdb819;
}

.pages {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.pages > * {
  font-size: 17px;
  font-weight: 300;
  color: #535353;
}

.container_a > a {
  border-radius: 10px;
  background-color: rgb(24, 170, 228);
  font-weight: 600;
  font-size: 20px;
  padding: 15px 20px;
}

.container_a > a:hover {
  background-color: rgb(73, 183, 226);
}

.list_a {
  margin-top: 30px;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
}

.item_a1,
.item_a2 {
  display: flex;
  background-color: #d8d8d8;
  border-radius: 10px;
  padding: 20px;
}

.item_a1 {
  justify-content: space-between;
  align-items: center;
}

.item_a2 img {
  width: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.item_a1:not(:last-of-type),
.item_a2:not(:last-of-type) {
  margin-bottom: 10px;
}

.item_a1 .title,
.item_a2 .title {
  font-weight: 700;
  font-size: 18px;
  text-decoration: underline;
}

.item_a1 .desc,
.item_a2 .desc {
  margin-top: 5px;
  font-weight: 600;
  font-size: 15px;
}

.item_a2 .price {
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
}

.item_a2 .desc {
  margin-top: 20px;
}

.item_a2 > div:last-of-type {
  margin-left: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item_a1 > div:last-of-type {
  display: flex;
  gap: 10px;
}

.item_a1 > div:last-of-type > button,
.item_a2 > div:last-of-type > button {
  border-radius: 10px;
  background-color: red;
  padding: 15px 20px;
}

.item_a1 > div:last-of-type > button:hover,
.item_a2 > div:last-of-type > button:hover {
  background-color: rgb(255, 106, 106);
}

.item_a1 > div:last-of-type > a,
.item_a2 > div:last-of-type > a {
  border-radius: 10px;
  background-color: rgb(60, 193, 60);
  padding: 15px 20px;
}

.item_a1 > div:last-of-type > a:hover,
.item_a2 > div:last-of-type > a:hover {
  background-color: rgb(74, 224, 74);
}

:focus-visible {
  outline: none;
}

.h1_infoblock {
  border-bottom: 3px solid #fdb819;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.div_infoblock {
  margin-bottom: 60px;
}

.profile-block {
  background: #d9d9d9;
  border: 1px solid #999999;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0fr;
  overflow: hidden;
  transition: grid-template-rows 500ms;
}

.profile-block > div:last-of-type {
  overflow: hidden;
}

.profile-block:is(.active) {
  grid-template-rows: 0.1fr 1fr;
}

.profile-block-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 40px;
  padding-block: 10px;
}

.profile-block-btn > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-block-btn > div > h2 {
  font-size: 20px;
}

.profile-block-btn > img {
  rotate: 180deg;
  transition: 500ms;
}

.profile-block:is(.active) > .profile-block-btn > img {
  rotate: 0deg;
}

.profile-btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  background: #fdb819;
  border-radius: 10px;
  margin-left: 40px;
  height: 40px;
  width: 150px;
  margin-block: 15px;
}

.profile-btn:hover {
  background: #ffc640;
}

.profile-ins {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 40px;
}

.profile-info {
  display: grid;
  gap: 5px;
}

.profile-info > div:nth-of-type(1) {
  font-size: 15px;
  font-weight: 300;
}

.profile-info > div:nth-of-type(2) {
  font-size: 17px;
  font-weight: 400;
}

.pf-b {
  display: grid;
  gap: 10px;
}

.profile-inp1,
.profile-inp2 {
  border-radius: 10px;
  border: 1px solid #313131;
  padding: 10px 7px;
  font-size: 18px;
}

.profile-inp1 {
  background-color: transparent;
}

.profile-inp2 {
  background-color: #b0b0b0;
}

.profile-show {
  display: flex;
  align-items: center;
  margin-left: 15px;
  gap: 15px;
}

.profile-show2 {
  margin-left: 40px;
}

.profile-show2 > div:last-of-type {
  margin-top: 20px;
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.profile-show > div:first-of-type {
  font-weight: 400;
}

.profile-show > div:last-of-type {
  display: flex;
  gap: 80px;
}

.profile_empty {
  display: grid;
  text-align: center;
  grid-column: 1/5;
}

.profile_empty > img {
  width: 40%;
  margin-inline: auto;
}

.profile_empty > div:first-of-type {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.profile_empty > div:last-of-type {
  font-size: 20px;
  font-weight: 300;
}

*:disabled {
  cursor: not-allowed;
}

.succ {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000004d;
}

.succ > div {
  background: #ffffff;
  padding: 50px;
  width: 80%;
  display: grid;
  justify-content: center;
  position: relative;
}

.succ > div > img:first-of-type {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.succ > div > img:last-of-type {
  width: 80%;
  margin-inline: auto;
}

.succ > div > h1,
.succ > div > p {
  text-align: center;
  margin-bottom: 0;
}

.succ > div > h1 {
  font-size: 50px;
}

.succ > div > p {
  font-size: 20px;
  font-weight: 400;
}

.cart_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000004d;
  z-index: 5;
}
