.block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: 20px;
}

.product {
  position: relative;
  border: 1px solid #d9d9d9;
  border-right: 0px;
  padding: 10px;
}

.product:last-child {
  border-right: 1px solid #d9d9d9;
}

.product:last-child {
  border-right: 1px solid #d9d9d9;
}

.product:nth-child(4n) {
  border-right: 1px solid #d9d9d9;
}

.product:nth-child(n + 5) {
  border-top: 0px;
}

.name {
  font-size: 20px;
  font-weight: 400;
  text-wrap: wrap;
  color: #000000;
}

.name:hover {
  text-decoration: underline;
}

.raiting {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 5px;
}

.product > img {
  width: 100%;
  object-fit: cover;
}

.price {
  font-size: 25px;
  font-weight: 400;
}

.inf_b {
  display: flex;
  justify-content: space-between;
}

.inf_b > img {
  cursor: pointer;
}

.sect {
  display: grid;
  position: absolute;
  right: 10px;
  top: 15px;
  gap: 10px;
}

.sect > img {
  cursor: pointer;
}

.delivery {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delivery > span {
  color: #fdb819;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .block {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .block {
    grid-template-columns: repeat(1, 1fr);
  }
}
